---
const { title } = Astro.props;
---

<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>한결</title>

    <!-- SEO 기본 -->
    <meta name="description" content="한결" />
    <meta name="keywords" content="한결, 블로그, 에세이, 문학, 수필, 일상, 성장, korean, lgbt, 퀴어, 게이, queer, 글쓰기" />
    <meta name="author" content="Han" />

    <!-- SNS 공유용(오픈그래프/트위터) -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="한결" />
    <meta property="og:description" content="나임에 모자람 없어라" />
    <meta property="og:image" content="https://www.hanpark.kr/images/website/thumbnail.png" />
    <meta property="og:url" content="https://www.hanpark.kr" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="한결" />
    <meta name="twitter:description" content="나임에 모자람 없어라" />
    <meta name="twitter:image" content="https://www.hanpark.kr/images/website/thumbnail.png" />

    <style global>
      html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow-y: hidden; /* ← 세로 스크롤 제거 */
      }
    </style>
  </head>
  <body class="overflow-hidden">
    <slot />
  </body>
</html>
